* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.electionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9E9E9;
  margin: 10px 30px 10px;
  padding: 25px 0px;
  border-radius: 10px;
}

.electionWrapper h3 {
  color:#345574;
  font-size: 26px;
}

.electionWrapper p {
  color: #4a5f59;
  font-size: 16px
}

.voters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}